/* * {
    margin: 0;
    padding: 0;
    border: 1px dashed red;
} */

.navbar {
    padding-left: 8rem;
    padding-right: 8rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.card {
    max-width: 250px;
}

p.cr-footer {
    text-align: center;
    font-size: 1rem;
}